/* #region All CSS */

	/* #region Page */
		.page-content {
			.page-placeholder {
			color: $page-icon-color;
			font-size: $page-content-placeholder-font-size;
			vertical-align: center;
			horizontal-align: center;
			}
			.page-icon {
			font-size: 72;
			vertical-align: top;
			horizontal-align: center;
			color: $page-icon-color;
			margin-top: 20%;
			}
		}
	/* #endregion 'Page' */

	/* #region SideDrawer */
		$sidedrawer-header-image-size: 60;
		$sidedrawer-header-image-offset-top: 20;
		$sidedrawer-header-image-offset-bottom: 5;
		$sidedrawer-list-item-offset-left: 15;
		$sidedrawer-list-icon-offset: 10;
		$sidedrawer-list-icon-size: 20;
		.sidedrawer {
			&.sidedrawer-left {
				background-color: $sd-background;
				.sidedrawer-header-image {
				color: $background-dark;
				height: $sidedrawer-header-image-size;
				width: $sidedrawer-header-image-size;
				font-size: $sidedrawer-header-image-size;
				padding: 0;
				margin-bottom: $sidedrawer-header-image-offset-bottom;
				margin-top: $sidedrawer-header-image-offset-top;
				}
				.footnote {
				color: rgba($sd-text, 0.5);
				}
			}
			.sidedrawer-header {
				background-color: $sd-header;
				.sidedrawer-header-brand {
					color: $sd-text;
				}
			}
			.sidedrawer-content {
				background-color: $sd-background;
				$sidedrawer-list-item-offset-left: 15;
				$sidedrawer-list-icon-offset: 10;
				$sidedrawer-list-icon-size: 32;
				.sidedrawer-list-item {
					padding-left: $sidedrawer-list-item-offset-left;
					label {
						vertical-align: center;
						color: $sd-text;
					}
					.fa,
					.fas,
					.far {
						width: $sidedrawer-list-icon-size;
						margin-right: $sidedrawer-list-icon-offset;
						text-align: center;
					}
					&.selected {
						background-color: $item-active-background;
						label {
							color: $sd-text-active;
						}
					}
				}
			}
		}
	/* #endregion 'SideDrawer' */

	/* #region ActionBar */
		ActionBar .action-bar-title {
			horizontal-align: center;
		}

		.action-item,
		ActionItem,
		.action-bar-title{
		  color: $ab-text;
		}
		
		.action-item{
			font-weight: 400;
		}
		
		.action-item:disabled {
		  color: rgba($ab-text, 0.5);
		}
	/* #endregion 'ActionBar' */

	/* #region Text */
		.text {
			color: $main-text;
		}
		
		.text-primary {
			color: $primary-color;
		}
		
		.text-secondary {
			color: $blue-50;
		}
	/* #endregion 'Text' */

	/* #region Form */
		.form {
			color: black;
		}
	/* #endregion 'Form' */

	/* #region FontAwesome */
		.fa {
			font-family: "FontAwesome";
		}

		.far {
			font-family: Font Awesome 5 Free, fa-regular-400;
			font-weight: 400;
		}

		.fab {
			font-family: Font Awesome 5 Brands, fa-brands-400;
			font-weight: 400;
		}

		.fas {
			font-family: Font Awesome 5 Free, fa-solid-900;
			font-weight: 900;
		}

	/* #endregion 'FontAwesome' */

	/* #region Other */
		.action-bar {
			background-color: $primary-color;
		}
	/* #endregion 'Other' */

/* #endregion 'All CSS' */

/* #region Test CSS */
.page {
	background-color: $page-background;
}

.home-item {
	text-align: center;
	font-size: 24;
	vertical-align: middle;

	.fas {
		font-size: 32;
	}
}

.list-group {
	.list-group-item {
        padding: 0 0 8 0;
        background-color: $page-background;

		.list-group-item-content {
            padding: 8 15 4 15;
            background-color: $section-background;
        }

		.fa,
		.fab,
		.fas,
		.far {
            color: $primary-color;
        }
	}
	
	.list-group-item#detail {
		background-color: $section-background;
	}
}
/* #endregion 'Test CSS' */