<ActionBar class="action-bar">
    <NavigationButton visibility="collapsed"></NavigationButton>
    <ActionItem ios.position="left" android.position="left" (tap)="onCancelButtonTap()">
        <Label text="Cancel" class="action-item"></Label>
    </ActionItem>
    <Label class="action-bar-title" text="Edit {{assigned_office.first_name}} {{assigned_office.last_name}}'s Details" horizontalAlignment="center"></Label>
    <!-- <ActionItem ios.position="right" android.position="right">
        <Label text="Done" class="action-item" verticalAlignment="center" (tap)="onDoneButtonTap()"
            [isEnabled]="makeModel.valid && imageModel.valid"
            [isUserInteractionEnabled]="makeModel.valid && imageModel.valid"></Label>
    </ActionItem> -->
    <ActionItem ios.position="right" android.position="right" (tap)="onDoneButtonTap()">
        <Label text="Done" class="action-item" verticalAlignment="center"></Label>
    </ActionItem>
</ActionBar>

<RadDataForm tkExampleTitle tkToggleNavButton id="assigned_office-edit" class="form" [source]="assigned_office" [metadata]="assigned_officeMetadata"></RadDataForm>