<ActionBar class="action-bar">
    <NavigationButton visibility="collapsed"></NavigationButton>
	<ActionItem class="action-item" (tap)="onDrawerButtonTap()" ios.position="left">
		<Label class="fas" text="&#xf0c9;"></Label>
	</ActionItem>
    <Label class="action-bar-title" text="Featured"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <Label class="page-icon fa" text="&#xf005;"></Label>
    <Label class="page-placeholder" text="<!-- Page content goes here -->"></Label>
</GridLayout>