<ActionBar class="action-bar">
    <NavigationButton visibility="collapsed"></NavigationButton>
	<ActionItem class="action-item" (tap)="onDrawerButtonTap()" ios.position="left">
		<Label class="fas" text="&#xf0c9;"></Label>
	</ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout class="page page-content" rows="*,*,*" columns="*,*">
    <!-- <Label class="page-icon fa" text="&#xf1ea;"></Label>
	<Label class="page-placeholder" text="<!-- Page content goes here --><!--"></Label> -->

	<StackLayout class="home-item" row="0" col="0"  (tap)="onMenuItemTap('/children')">
			<Label text="&#xf1ae;" class="fas"></Label>
			<Label textWrap="true" text="Children"></Label>
	</StackLayout>

	<GridLayout rows="*, *" class="home-item" row="0" col="1" (tap)="onMenuItemTap('/heads-of-family')">
		<Label row="0" text="&#xf0c0;" class="fas"></Label>
		<Label textWrap="true" row="1" text="Heads Of Family"></Label>
	</GridLayout>
	
	<GridLayout rows="*, *" class="home-item" row="1" col="0" (tap)="onMenuItemTap('/schools')">
		<Label row="0" text="&#xf549;" class="fas "></Label>
		<Label textWrap="true" row="1" text="Schools" class=""></Label>
	</GridLayout>
					
	<GridLayout rows="*, *" class="home-item" row="1" col="1" (tap)="onMenuItemTap('/sponsors')">
		<Label row="0" text="&#xf4b9;" class="fas "></Label>
		<Label textWrap="true" row="1" text="Sponsors" class=""></Label>
	</GridLayout>
	
	<GridLayout rows="*, *" class="home-item" row="2" col="0" (tap)="onMenuItemTap('/parish-workers')">
		<Label row="0" text="&#xf007;" class="fas "></Label>
		<Label textWrap="true" row="1" text="Parish Workers" class=""></Label>
	</GridLayout>
	
	<GridLayout rows="*, *" class="home-item" row="2" col="1" (tap)="onMenuItemTap('/assigned-offices')">
		<Label row="0" text="&#xf1ad;" class="fas "></Label>
		<Label textWrap="true" row="1" text="Assigned Offices" class=""></Label>
	</GridLayout>

</GridLayout>