<ActionBar class="action-bar">
	<NavigationButton visibility="collapsed"></NavigationButton>
	<ActionItem class="action-item" (tap)="onBackButtonTap()" ios.position="left">
		<Label class="fas" text="&#xf053;"></Label>
	</ActionItem>
    <Label class="action-bar-title" text="{{school.school_name}}" horizontalAlignment="center"></Label>
    <ActionItem class="action-item" ios.position="right" android.position="right" (tap)="onEditButtonTap()">
        <Label text="Edit"></Label>
    </ActionItem>
</ActionBar>

<GridLayout class="page page-content">
    <ScrollView class="list-group">
        <GridLayout id="detail" class="list-group-item" rows="auto, auto, auto, auto">
            <GridLayout rows="auto, auto" columns="*, *" class="list-group-item-content">
                <Label>
                    <FormattedString ios:fontFamily="system">
                        <Span text="&#xf007;  " class="fas text-primary"></Span>
                        <Span text="{{school.school_name}}"></Span>
                    </FormattedString>
                </Label>
                <Label col="1" horizontalAlignment="right" class="list-group-item-text m-r-5">
                    <FormattedString ios:fontFamily="system">
                        <Span text="&#xf2c2;  " class="fas text-primary"></Span>
                        <Span [text]="school.id"></Span>
                    </FormattedString>
                </Label>
                <StackLayout row="1" class="hr-light m-t-5 m-b-5" colSpan="2"></StackLayout>
            </GridLayout>

            <Label row="1" [text]="school.image" class="m-br-15" style="text-align: center"></Label>
            <Image row="1" [src]="school.image" stretch="aspectFill" height="200" class="m-b-15"></Image>

            <StackLayout row="2" class="hr-light m-t-15 m-b-15"></StackLayout>

            <GridLayout row="3" rows="*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*" columns="10*, 7*">

                <Label text="Name" class="p-l-15 p-b-10 m-r-20 text-secondary" row="1" textWrap = 'true'></Label>
                <Label col="1" class="text p-b-10" text="{{school.school_name}}" row="1" textWrap = 'true'></Label>

                <Label text="Type" class="p-l-15 p-b-10 m-r-20 text-secondary" row="2" textWrap = 'true'></Label>
                <Label [text]="school.school_type" col="1" row="2" class="text p-b-10" textWrap = 'true'></Label>

                <Label text="Village" class="p-l-15 p-b-10 m-r-20 text-secondary" row="5" textWrap = 'true'></Label>
                <Label [text]="school.village" row="5" col="1" class="text p-b-10" textWrap = 'true'></Label>
                
                <Label text="District" class="p-l-15 p-b-10 m-r-20 text-secondary" row="10" textWrap = 'true'></Label>
                <Label [text]="school.district" row="10" col="1" class="text p-b-10" textWrap = 'true'></Label>
                
                <Label text="Country" class="p-l-15 p-b-10 m-r-20 text-secondary" row="6" textWrap = 'true'></Label>
                <Label [text]="school.country" row="6" col="1" class="text p-b-10" textWrap = 'true' textTransform="capitalize"></Label>
                
                <Label text="Region" class="p-l-15 p-b-10 m-r-20 text-secondary" row="3" textWrap = 'true'></Label>
                <Label [text]="school.region" row="3" col="1" class="text p-b-10" textWrap = 'true'></Label>
                
                <Label text="Account Number" class="p-l-15 p-b-10 m-r-20 text-secondary" row="7" textWrap = 'true'></Label>
                <Label [text]="school.account_number" row="7" col="1" class="text p-b-10" textWrap = 'true'></Label>

                <Label text="Phone Number" class="p-l-15 p-b-10 m-r-20 text-secondary" row="14" textWrap = 'true'></Label>
                <Label text="{{school.landline_extension}} {{school.landline_number}}" row="14" col="1" class="text p-b-10"></Label>
            </GridLayout>
        </GridLayout>
    </ScrollView>
</GridLayout>